

li {
    float: left;
  }

 .nav {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }



  li .nav {
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

  ul {
    background-color: #dddddd;
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 

  }
  
  .faild{
    color: rgb(255, 0, 0);
    padding: 10px;
    margin: 4px;
  }