*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
    width: 75%;
}
table th{
    color: #fff;
}
